.row
  .col-md-3
    %h3.header-h3 About Eventus
    .line-blue
    .list
      %ul.angleright
        %li
          %i.fa.fa-angle-right
          =link_to "Register", "#"
        %li
          %i.fa.fa-angle-right
          =link_to "Become a Sponsor", "#"
        %li
          %i.fa.fa-angle-right
          =link_to "Timetable", "#"
        %li
          %i.fa.fa-angle-right
          =link_to "Dates & Events", "#"
        %li
          %i.fa.fa-angle-right
          =link_to "Hotels & Sites", "#"
        %li
          %i.fa.fa-angle-right
          =link_to "Travel Information", "#"
        %li
          %i.fa.fa-angle-right
          =link_to "Buy Tickets", "#"
  .col-md-3
    %h3.header-h3 We're Starting In
    .line-blue
  .col-md-3
    %h3.header-h3 About us
    .line-blue
    .div-para
      %p We are Eventus - one of the largest events organized annually. Every year we are aiming to link you to the future.
      %br
      %p Stay Connected on:
      %p
        %i.fa.fa-facebook.btn.btn-link.social.btn-
        %i.fa.fa-twitter.btn.btn-link.social.btn-
        %i.fa.fa-pinterest.btn.btn-link.social.btn-
        %i.fa.fa-google-plus.btn.btn-link.social.btn-
        %i.fa.fa-dribbble.btn.btn-link.social.btn-
  .col-md-3
    %h3.header-h3 Contacts
    .line-blue
    .div-para For general information about the event/expo/conference, including registration, please contact us at:
    %li
      %i.fa.fa-envelope 
      eventus (@) yoursite.com
    %li
      %i.fa.fa-phone 
      +555.123.4567
    %li
      %i.fa.fa-print 
      +555.123.4568
    %li
      %i.fa.fa-building 
      2nd Ave and Washington