.row
  .col-md-9
    .blog
      %h3.header-h3 Keynote Speakers
      .line-blue
      .column
        .span3
          = link_to image_tag("1.jpg", :class => "sp-img"), "#"
          .override-span3
            %p I'm pleased to be a keynote speaker at Eventus for third year! Hope to see you there!
          %cite.triangle
          %span Stephan Solomon
          .icon-main-body
            %a.fa.fa-facebook{:href => "#"}
            %a.fa.fa-twitter{:href => "#"}
            %a.fa.fa-google-plus{:href => "#"}
            %a.fa.fa-youtube{:href => "#"}
            %a.fa.fa-linkedin{:href => "#"}

        .span3
          = link_to image_tag("3.jpg", :class => "sp-img"), "#"
          .override-span3
            %p I'm Joanna and I'll be your Marketing expert about the new trends, social media and more!
          %cite.triangle
          %span Joanna Berg
          .icon-main-body
            %a.fa.fa-instagram{:href => "#"}
            %a.fa.fa-linkedin{:href => "#"}
            %a.fa.fa-facebook{:href => "#"}
            %a.fa.fa-twitter{:href => "#"}
            %a.fa.fa-google-plus{:href => "#"}
                  
        .span3
          = link_to image_tag("4.jpg", :class => "sp-img"), "#"
          .override-span3
            %p As a top marketing manager I can bring valuable information directly from the "kitchen" :)
          %cite.triangle
          %span Terrence Monroe
          .icon-main-body
            %a.fa.fa-google-plus{:href => "#"}
            %a.fa.fa-twitter{:href => "#"}
            %a.fa.fa-weibo{:href => "#"}
            %a.fa.fa-linkedin{:href => "#"}
            %a.fa.fa-facebook{:href => "#"}

        .span3.final
          = link_to image_tag("2.jpg", :class => "sp-img"), "#"
          .override-span3.final
            %p This is my first time here on Eventus, and I'm trilled to be a speaker on such big event!
          %cite.triangle
          %span Amanda Thomas
          .icon-main-body
            %a.fa.fa-linkedin{:href => "#"}
            %a.fa.fa-facebook{:href => "#"}
            %a.fa.fa-google-plus{:href => "#"}
            %a.fa.fa-twitter{:href => "#"}
            %a.fa.fa-linux{:href => "#"}
              
  .col-md-3
    %h3.header-h3 Highlights
    .line-blue
    .column
      .sp-body
        .item-container 
          %h4 Who to Attend
          %a.indicator.fa.fa-share
        .item-container 
          %h4 Who to Attend
          %a.indicator.fa.fa-share
        .item-container 
          %h4 What's New
          %a.indicator.fa.fa-share
        .item-container 
          %h4 How to Join
          %a.indicator.fa.fa-share
        .item-container 
          %h4 
            %a.indicator.fa.fa-share Why Boston 
            