.left-toolbar
  .module-toolbar-left
    %a{:href => "#" }About Event
    |
    %a{:href => "#" }Registration
    |
    %a{:href => "#" }News
.right-toolbar
  .module-toolbar-right
    = render 'shared/icon'
