.sp-toolbar-l.col-md-6
  .module-toolbar
    .mod-wrapper
      %a{:href => "#" }About Event
      |
      %a{:href => "#" }Registrations
      |
      %a{:href => "#" }News
.sp-toolbar-r.col-md-6
  .module-toolbar
    = render 'shared/icon'
