.row
  .sp-position-l
    .col-md-6
      %h3.header-h3 Video Presentation
      .line-blue
      .video
        %iframe.sp-video{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://www.youtube.com/embed/zJBkJhaWMpE", :webkitallowfullscreen => ""}
  .sp-position-r
    .col-md-6
      %h3.header-h3 Teaser
      .line-blue
      .customtitle
        .span6
          %h3
            %a 
              %i.fa.fa-group
              35+ Speake
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        .span6.final
          %h3
            %a 
              %i.fa.fa-microphone
              30+ Sessions
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        .span6
          %h3
            %a 
              %i.fa.fa-dashboard
              30+ Sessions
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        .span6.final
          %h3
            %a
              %i.fa.fa-link 
              30+ Sessions
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

        %a.btn.btn-block.btn-inverse.btn-large{:href => "/drama/images/Demo/eventus_brochure.pdf", :target => "_blank"} Download Our Brochure: Eventus 2014
        