.sp-inbottom {
  padding: 5px 8px 8px 8px;
  background-color: $white-color2;

  .container {
    .sp-latest_news {
      padding: 5px 10px;

      h3 {
        margin: 0;
      }
      .row {
        margin: 0;
        display: flex;
        .col-md-3 {  
          padding:3px 5px 5px 3px;
          h4 {
            text-transform: uppercase;
            font-size: 14px;
          }
          .calendar {
            color: $gray-color1;
            font-size: 10px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          }
          img {
            max-width: 100%;
            padding: 3% 0 3%;
          }
          .introtext {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: $gray-color6;
          }
          .more {
            a {
              text-decoration: none;
              background-color: $blue-color1;
              padding: 5px 10px;
              color: white;
              border: 1px solid transparent;
              border-radius: 4px;
              font-size: 13px;
              font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            }
            & >a:hover, & >a:focus {
              background: $blue-color7;
            }
          }
        }
      }
    }
  }
}

.sp-bottom {
  padding: 10px 0;
  background: $blue-color2;
  color: $blue-color8;
  .container {
    padding-bottom: inherit;

    .header-h3 {
      text-align: center;
      color: white;
      border-bottom: 1px solid $blue-color9;
      padding-bottom: 5px;
      margin: 0;
    }

    .button-next-prev {
      float: right;

      a:hover {
        text-decoration: none;
        color: white;
        background-color: $blue-color1;
        }
      .button-prev {
        padding: 2px 7px;
        background-color: $white-color3;
      }
      .button-next {
        padding: 2px 7px;
        background-color: $white-color3;
      }
    }
    .line-white {
      content: "";
      margin: -1px auto;
      background-color: $blue-color8;
      height: 1px;
      width: 90px;
    }
    .row {
      .col-md-3 {
        padding: 15px;
      }
    }
  }
}

.sp-bottom-2-wrapper {
  padding: 10px;
  color: $gray-color2;
  background-color: $blue-color1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  .container {
    .row {
      .header-h3 {
        color: $gray-color2;
        font-family: "Oswald";
      }
      .list {
        padding-top: 10px;

        .angleright {
          padding-left: 0;
          list-style: none;

          a {
            color: $gray-color2;
            font-size: 14px;   
          }

          a:hover {
            text-decoration: none;
            color: white;
          }
        }
      }
      .div-para {
        padding-top: 10px;

        .btn.social {
          background-color: white;
        }
        .btn.social:hover {
          background: $blue-color1;
          color: white;
          text-decoration: none;
        }
        .btn-link {
          color: $blue-color1;
        }
      }
      li {
        list-style: none;
      }
    }
  }
}
