.conference {
  border-top: 1px solid white;
  background: $white-color2;

  .container {
    .row-fluid {
      .box {
        position: relative;
        min-height: 1px;
        width: 23.5%;
        float: left;
        margin: 1% 2% 2% 0;
        border: 1px solid $white-color3;

        .mod-box {
          margin-top: 3%;
          text-align: center;
        }

        a {
          font-size: 18px;
          display: inline;
          color: $gray-color6;

          &:hover, &:focus{
            color: $blue-color6;
            text-decoration: none;
          }
        }
        .text {
          text-align: center;
          color: $gray-color7;
          margin: 5% 0;
          font-size: 11px;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .mod-line-blue {
          margin: 2% auto;
          background-color: $blue-color2;
          display: block;
          height: 1px;
          position: relative;
          width: 33%;
        }
      }
      .sp-img {
        width: 100%;
      }
      .final {
        margin-right: 0;
      }
    }
  }
}
