.sp-footer {
  background: $blue-color1;
  color: $gray-color2;
  .container {
    .row {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
      padding: 15px 0;

      .col-md-8 {
        color: $gray-color2;
      }
      .col-md-4 {
        color: $gray-color2;

        a {
          font-size: 12px;
          float: right;
          color: $gray-color2;
          padding-right: 15px;
        }
        a:hover {
          color: $blue-color6;
          text-decoration: none;
        }
      }
    }
  }
}