.Header-wrapper {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 20px 0;
  .container {
    .row-fluid-header {
      box-sizing: border-box;
      display: block;
      float: left;
      min-height: 30px;
      width: 100%;
      padding: 0;
    }
  }

  .navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    margin: 0;

    .navbar-toggle {
      background-color: #333333;
    }

    .navbar-brand {
      margin: 0;
    }

    .logo-wrapper {
      background-color: #fff;
      padding: 0;
    }
    .navbar-nav {
      text-transform: uppercase; 
      float: right;

      & > li > a {
        padding: 10px;
        margin: 2px;
        &:hover {
          background-color: #049cdb;
          box-shadow: 3px 3px 0 #c9c9c9;
        }
      }

      & > .active {
        & > a, & > a:hover {
          background-color: #049cdb;
          box-shadow: 3px 3px 0 #c9c9c9;
        }
      }
    }

    @media (max-width: 991px) {
      .navbar-header {
        float: none;
      }
      .navbar-toggle {
        display: block;
      }
      .navbar-collapse {
        position: absolute;
        background-color: #333;
        width: 100%;
        left: 0;
        z-index: 1;
      }
      .navbar-collapse.collapse {
        display: none!important;
      }
      .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
        text-transform: none;
        & > .active {
          & > a{
            color: #999;
          }
          & > a, & > a:hover {
            background-color: #333;
            box-shadow: 0 0 #333;
          }
        }
      }
      .navbar-nav>li {
        float: none;
      }
      .navbar-nav>li>a {
        &:hover {
          color: #fff;
          background-color: #333;
          box-shadow: 0 0 #333;
        }
      }

      .navbar-collapse.collapse.in { 
        display: block!important;
      }
      .collapsing {
        overflow: hidden!important;
      }
    }
  }
}
