.header {
  border-top: 1px solid $white-color1;
  border-bottom: 1px solid $white-color1;
  background-color: white;
  padding: 20px 0;

  .container {
    .row-fluid-header {
      box-sizing: border-box;
      display: block;
      float: left;
      min-height: 30px;
      width: 100%;
      padding: 0;
    }
  }

  .navbar-inverse {
    background-color: white;
    border-color: white;
    margin: 0;

    .navbar-toggle {
      background-color: $gray-color4;
    }

    .navbar-brand {
      margin: 0;
    }

    .logo-wrapper {
      background-color: white;
      padding: 0;
    }
    .navbar-nav {
      text-transform: uppercase; 
      float: right;

      & > li > a {
        padding: 10px;
        margin: 2px;
        &:hover {
          background-color: $blue-color2;
          box-shadow: 3px 3px 0 $gray-color5;
        }
      }

      & > .active {
        & > a, & > a:hover {
          background-color: $blue-color2;
          box-shadow: 3px 3px 0 $gray-color5;
        }
      }
    }

    @media (max-width: 991px) {
      .navbar-header {
        float: none;
      }
      .navbar-toggle {
        display: block;
      }
      .navbar-collapse {
        position: absolute;
        background-color: $gray-color4;
        width: 100%;
        left: 0;
        z-index: 1;
      }
      .navbar-collapse.collapse {
        display: none!important;
      }
      .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
        text-transform: none;
        
        & > .active {
          & > a{
            color: $gray-color1;
          }

          & > a, & > a:hover {
            background-color: $gray-color4;
            box-shadow: 0 0 $gray-color4;
          }
        }
      }
      .navbar-nav>li {
        float: none;
      }
      .navbar-nav>li>a {
        &:hover {
          color: white;
          background-color: $gray-color4;
          box-shadow: 0 0 $gray-color4;
        }
      }

      .navbar-collapse.collapse.in { 
        display: block!important;
      }
      .collapsing {
        overflow: hidden!important;
      }
    }
  }
}
