@import "toolbar";
@import "header";
@import "slide";
@import "conference";
@import "keynote";
@import "video_teaser";
@import "footer";
@import "bottom";
@import "bootstrap";

.body-innerwrapper {
  overflow-x: hidden;
}

.container{
  padding: 0;
}

.header-h3 {
  color: #666666;
  margin-top: 1%;
  margin-bottom: 0;
  line-height: normal;
  border-bottom: 1px solid #ddd;
}

.line-blue {
  content: "";
  margin: -1px 0px;
  background-color: #049cdb;
  height: 1px;
  width: 90px;
}
a:hover {
  text-decoration: none;
}

.logo-img {
  width: 165px;
  height: 50px;
}

.sp-UnderCarousel {
  border-top: 1px solid #048ac2;
  border-bottom: 1px solid #048ac2;
  background: #049cdb;

  .mod-user-wrapper {
    padding: 1% 0 0 0;

    h3 {
      display: inline;
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      line-height: normal;
      color: #fff;
    }
    span {
      color: #fff;
      font-size: 12pt;
    }

    .btn-large {
      margin: 0 0 1% 1%;
      font-size: 16px;
    }
  }
}




