.toolbar {
  background: $blue-color1;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 30px;

  .left-toolbar {
    width: 50%;
    float: left;
    font-size: 12px;

    .module-toolbar-left{
      margin: 7px 0;
      color: $gray-color2;
    }
    a {
      color: $gray-color3;
    }

    a:hover{
      color: white;
    }
    @media ( max-width: 760px) {
      display: none;
      min-width: 100%;
    }
  }

  .right-toolbar{
    width: 50%;
    float: right;
    font-size: 16px;
    .module-toolbar-right{
      float: right;
      margin: 0;
    }
    a:hover{
      background-color: white;
    }
  }
  .btn {
    width: 28px;
    color: $gray-color2;
    padding: 6px;
    border-radius: 1px;
  }
  .social:hover {
    background: white;
    color: $blue-color5;
    text-decoration: none;
  }
  @media (max-width: 760px) {
    display: none;
    min-width: 100%;
  }
}

