$blue-color: #2C3C4D
$blue-color1: #049CDB
$blue-color2: #025577

$gray-color: #999
$gray-color1: #8E9AA7
$gray-color2: #718091
$gray-color3: #333
$gray-color4: #C9C9C9

$red-color: #BB1F1A
$red-color1: #CA1A1A
