$blue-color1: #2C3C4D;
$blue-color2: #049CDB;
$blue-color3: #025577;
$blue-color4: #048AC2;
$blue-color5: #3399FF;
$blue-color6: #428BCA;
$blue-color7: #3A4C5F;
$blue-color8: #E0F5FE;
$blue-color9: #49C7FC;

$gray-color1: #999;
$gray-color2: #8E9AA7;
$gray-color3: #718091;
$gray-color4: #333;
$gray-color5: #C9C9C9;
$gray-color6: #666;
$gray-color7: #aaa;

$red-color1: #BB1F1A;
$red-color2: #CA1A1A;

$white-color1: #EAEAEA;
$white-color2: #F2F2F2;
$white-color3: #DDD;
$white-color4: #EEE;
